
nav{
display: flex;
justify-content: space-around;

}   
section{
    height: 100vh;
} 
.section_hero{
  display: flex;
 flex-direction: column;


}


.formal_ajoute{
    display: flex;

}
.section_squide{
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto;
}
